# Paths
DATA_DIR=data/raw
MODEL_DIR=models
OUTPUT_DIR=outputs

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=hotel-booking-cancellation
